@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@view-transition {
  navigation: auto;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(root) {
  animation: slide-out 0.5s ease-in-out both;
}

::view-transition-new(root) {
  animation: slide-in 0.5s ease-in-out both;
}


:root {
  /* BASE */
  --background: #0c0c0c;
  --surface: #242424;
  --surface-hover: #2D2D2D;
  --border: #3A3A3A;

  /* TEXTOS*/
  --text-title: #F5F1E8;      /* títulos grandes */
  --text-primary: #D9D6CF;    /* textos principais */
  --text-secondary: #A6A4A0;  /* descrições */
  --text-muted: #77756F;      /* textos apagados */

  /* DOURADO DOS ELEMENTOS */
  --gold-primary: #C89B3C;    /* logo, links, destaques */
  --gold-hover: #DDB052;
  --gold-dark: #9C7528;

  /* BOTÕES */
      
  --button-primary: #D4A72C;
  --button-primary-text: #1A1A1A;

  --button-secondary-bg: transparent;
  --button-secondary-border: #D4A72C;
  --button-secondary-text: #D4A72C;

    /* =====================
        SKIN BRANCA
     ===================== */

        /* FUNDOS */
        --background-wt: #F8F6F2;      /* Fundo principal */
        --surface-wt: #FFFFFF;         /* Cards */
        --surface--hover-wt: #F2F0EB;   /* Hover */
        --border-wt: #DDD8CF;          /* Bordas */
      
        /* TEXTOS */
        --text-title-wt: #1F1E1B;      /* Títulos */
        --text-primary-wt: #36342F;    /* Texto comum */
        --text-secondary-wt: #6A675F;  /* Texto secundário */
        --text-muted-wt: #979288;      /* Texto apagado */
      
        /* DOURADO */
        --gold-primary-wt: #C89B3C;
        --gold-hover-wt: #D8AC47;
        --gold-dark-wt: #A97C24;
      
        /* BOTÕES */
        --button-primary-wt: #C89B3C;
        --button-primary-text-wt: #FFFFFF;
      
        --button-secondary-bg-wt: transparent;
        --button-secondary-border-wt: #C89B3C;
        --button-secondary-text-wt: #A97C24;
      
        /* FEEDBACK */
        --success: #4F8A63;
        --warning: #D49B2A;
        --error: #C95B5B;
      

  /* =====================
     SKIN GELO
     ===================== */

  --gelo-bg-principal: #B8D5D8;
  --gelo-bg-leitor: #DDEFF0;

  --gelo-texto-principal: #263238;
  --gelo-texto-destaque: #4FA3C1;

  --gelo-btn-bg: #397C91;


  /* =====================
     SKIN NATUREZA
     ===================== */

  --natureza-bg-principal: #9EAA7A;
  --natureza-bg-leitor: #D8D7A8;

  --natureza-texto-principal: #35421F;
  --natureza-texto-destaque: #8B8A35;

  --natureza-btn-bg: #68702A;
}


.sknwt{
    --background: #F8F6F2;      /* Fundo principal */
        --surface: #FFFFFF;         /* Cards */
        --surface--hover: #F2F0EB;   /* Hover */
        --border: #DDD8CF;          /* Bordas */
      
        /* TEXTOS */
        --text-title: #1F1E1B;      /* Títulos */
        --text-primary: #36342F;    /* Texto comum */
        --text-secondary: #6A675F;  /* Texto secundário */
        --text-muted: #979288;      /* Texto apagado */
      
        /* DOURADO */
        --gold-primary: #C89B3C;
        --gold-hover: #D8AC47;
        --gold-dark: #A97C24;
      
        /* BOTÕES */
        --button-primary: #C89B3C;
        --button-primary-text: #FFFFFF;
      
        --button-secondary-bg: transparent;
        --button-secondary-border: #C89B3C;
        --button-secondary-text: #A97C24;
}

body{
    background-color: var(--background);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reveal{
    opacity: 0;
    transform: translateY(50px);
    transition: 1s ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0);
}

.txtlogo{
    font-family: 'cinzel', serif;
    font-size: 19px;
    color: var(--gold-primary)
}

/*keyframe do txt principal */
@keyframes textAppear {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.h1l{
    font-size: 50px;
    font-family: 'inter', sans-serif;
    color: var(--text-title);
    margin-top: 50px;

    opacity: 0;
    transform: translateY(40px);

    animation: textAppear 2s ease forwards;
    animation-delay: 0.5s;
}

/*keyframe do txt secundario */
@keyframes textAppear2 {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.h2l{
    font-size: 20px;
    font-family: 'inter', sans-serif;
    color: var(--text-title);

    opacity: 0;
    transform: translateY(30px);

    animation: textAppear2 1s ease forwards;
    animation-delay: 1.2s;
}

.navbar{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
    padding: 10px 30px;
    width: 1600px;
    height: 50px;
    margin-top: 30px;
    border: 2px solid var(--border);
    background: rgba(36, 36, 36, 0.9);
    z-index: 10;
}

#img{
    user-select: none;
    -webkit-user-drag: none;
}

.links{
    font-size: 16px;
    display: flex;
    flex: 1;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.links a{
    font-family: 'inter', sans-serif;
    text-decoration: none;
    color: var(--text-muted);
    transition: 0.3s;
}

.logo{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.botoes{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    z-index: 2;
    flex: 1;
    justify-content: flex-end;
}

.sign_up, .log_in{
    font-family: 'inter', sans-serif;
    transition: 0.3s;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 130px;

    /* necessário pro <a> se comportar como botão */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
}

.sign_up{
    box-shadow: 5px 5px 20px rgba(221, 221, 221, 0.2);
    background-color: var(--button-primary-text-wt);
    color: var(--background); /* cor do texto do sign up, ajusta se quiser outra */
}

.log_in{
    color: var(--button-primary-text-wt);
    background: transparent;
    border: 2px solid var(--border);
}

.imglogo{

    width: 70px;
    height: auto;

}


.textprinc{
    justify-content: center;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 370px;
    align-self: center;
}


/* kayframe da imagem principal */
@keyframes runeAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.3;
    }
}

.imgprinc{
    
    opacity: 0;

    animation: runeAppear 3s ease forwards;

    mask-image: radial-gradient(
        ellipse at center,
        rgba(0,0,0,0.5) 0%,
        rgba(0,0,0,0.4) 15%,
        rgba(0,0,0,0.3) 25%,
        rgba(0,0,0,0.2) 40%,
        rgba(0,0,0,0.1) 45%,
        rgba(0,0,0,0) 75%,
        transparent 100%
    );

    -webkit-mask-image: radial-gradient(
        ellipse at center,
        rgba(0,0,0,0.5) 0%,
        rgba(0,0,0,0.4) 15%,
        rgba(0,0,0,0.3) 25%,
        rgba(0,0,0,0.2) 40%,
        rgba(0,0,0,0.1) 45%,
        rgba(0,0,0,0) 75%,
        transparent 100%
    );

    width: 60%;
    height: auto;
    margin-bottom: 50px;
    z-index: 1;
    position: absolute;
}

.sec2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 460px;
}


.top{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 1200px;
    height: auto;
}

.h1sec2, .psec2{
    margin: 0px;
}

.h1sec2{
    font-size: 50px;
    font-family: 'inter', sans-serif;
    flex: 1;
    color: var(--text-title);
}

.psec2{
    flex: 1;
    font-size: 15px;
    font-family: 'inter', sans-serif;
    color: var(--text-title);
    width: 600px;
}

.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin-left: 50px;
    width: 1200px;
    justify-content: space-around;
}

.imgsec2,
.img2sec2{
    width: 350px;
    height: auto;
}

.hrsec2{
    width: 1px;
    height: 400px;

    background-color: var(--gold-primary);
    border: none;
}





.sec3{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.linev{
    width: 1px;
    height: 700px;
    border: 1px solid var(--border);
    margin-top: 50px;
    margin-bottom: 50px;
}

.link-active{
    font-size: 100px;
}



