@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* BASE */
  --background: #1A1A1A;
  --surface: #242424;
  --surface-hover: #2D2D2D;
  --border: #3A3A3A;

  /* TEXTOS*/
  --text-title: #F5F1E8;      /* títulos grandes */
  --text-primary: #D9D6CF;    /* textos principais */
  --text-secondary: #A6A4A0;  /* descrições */
  --text-muted: #77756F;      /* textos apagados */

  /* DOURADO DOS ELEMENTOS */
  --gold-primary: #C89B3C;    /* logo, links, destaques */
  --gold-hover: #DDB052;
  --gold-dark: #9C7528;

  /* BOTÕES */
      
  --button-primary: #D4A72C;
  --button-primary-text: #1A1A1A;

  --button-secondary-bg: transparent;
  --button-secondary-border: #D4A72C;
  --button-secondary-text: #D4A72C;

    /* =====================
        SKIN BRANCA
     ===================== */

        /* FUNDOS */
        --background-wt: #F8F6F2;      /* Fundo principal */
        --surface-wt: #FFFFFF;         /* Cards */
        --surface--hover-wt: #F2F0EB;   /* Hover */
        --border-wt: #DDD8CF;          /* Bordas */
      
        /* TEXTOS */
        --text-title-wt: #1F1E1B;      /* Títulos */
        --text-primary-wt: #36342F;    /* Texto comum */
        --text-secondary-wt: #6A675F;  /* Texto secundário */
        --text-muted-wt: #979288;      /* Texto apagado */
      
        /* DOURADO */
        --gold-primary-wt: #C89B3C;
        --gold-hover-wt: #D8AC47;
        --gold-dark-wt: #A97C24;
      
        /* BOTÕES */
        --button-primary-wt: #C89B3C;
        --button-primary-text-wt: #FFFFFF;
      
        --button-secondary-bg-wt: transparent;
        --button-secondary-border-wt: #C89B3C;
        --button-secondary-text-wt: #A97C24;
      
        /* FEEDBACK */
        --success: #4F8A63;
        --warning: #D49B2A;
        --error: #C95B5B;
      

  /* =====================
     SKIN GELO
     ===================== */

  --gelo-bg-principal: #B8D5D8;
  --gelo-bg-leitor: #DDEFF0;

  --gelo-texto-principal: #263238;
  --gelo-texto-destaque: #4FA3C1;

  --gelo-btn-bg: #397C91;


  /* =====================
     SKIN NATUREZA
     ===================== */

  --natureza-bg-principal: #9EAA7A;
  --natureza-bg-leitor: #D8D7A8;

  --natureza-texto-principal: #35421F;
  --natureza-texto-destaque: #8B8A35;

  --natureza-btn-bg: #68702A;


  /* =====================
     SKIN SOMBRA
     ===================== */

  --sombra-bg-principal: #211B19;
  --sombra-bg-leitor: #352A26;

  --sombra-texto-principal: #E8DCC7;
  --sombra-texto-destaque: #C79A4A;

  --sombra-btn-bg: #70452B;


}


body{
    background-color: var(--background);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    font-family: 'cinzel', serif;
    font-size: 21px;
    color: var(--gold-primary)
}

h1{
    font-family: 'inter', sans-serif;
    color: var(--text-title);
    margin-top: 50px;
}

h2{
    font-family: 'inter', sans-serif;
    color: var(--text-title)
}

.container{
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
    padding: 10px 30px;
    width: 180vh;
    height: 7vh;
    margin-top: 5vh;
    border: 2px solid var(--border);
    background: rgba(36, 36, 36, 0.9);
}

.logo{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.botoes{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.sign_up{
    box-shadow: 5px 5px 20px rgba(221, 221, 221, 0.2);
    background-color: var(--button-primary-text-wt);
}

.sign_up, .log_in{
    transition: 0.3s;
    border-radius: 10px;
    border: none;
    height: 6vh;
    width: 20vh;
}

.log_in{
    color: var(--button-primary-text-wt);
    background: transparent;
    border: 2px solid var(--border)
}

.imglogo{

    width: 13vh;
    height: auto;

}


.textprinc{
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

