:root {
  /* BASE CLAUDE DARK */
  --background: #1A1A1A;
  --surface: #242424;
  --surface-hover: #2D2D2D;
  --border: #3A3A3A;

  /* TEXTOS DO POCKET DM */
  --text-title: #F5F1E8;      /* títulos grandes */
  --text-primary: #D9D6CF;    /* textos principais */
  --text-secondary: #A6A4A0;  /* descrições */
  --text-muted: #77756F;      /* textos apagados */

  /* DOURADO DOS ELEMENTOS */
  --gold-primary: #C89B3C;    /* logo, links, destaques */
  --gold-hover: #DDB052;
  --gold-dark: #9C7528;

  /* BOTÕES */
      
  --button-primary: #D4A72C;
  --button-primary-text: #1A1A1A;

  --button-secondary-bg: transparent;
  --button-secondary-border: #D4A72C;
  --button-secondary-text: #D4A72C;

    /* =====================
     SKIN FOGO
     ===================== */

  --fogo-bg-principal: #5A2518;
  --fogo-bg-leitor: #7A3B24;

  --fogo-texto-principal: #F5D7B0;
  --fogo-texto-destaque: #D96B27;

  --fogo-btn-bg: #A6401B;


  /* =====================
     SKIN GELO
     ===================== */

  --gelo-bg-principal: #B8D5D8;
  --gelo-bg-leitor: #DDEFF0;

  --gelo-texto-principal: #263238;
  --gelo-texto-destaque: #4FA3C1;

  --gelo-btn-bg: #397C91;


  /* =====================
     SKIN NATUREZA
     ===================== */

  --natureza-bg-principal: #9EAA7A;
  --natureza-bg-leitor: #D8D7A8;

  --natureza-texto-principal: #35421F;
  --natureza-texto-destaque: #8B8A35;

  --natureza-btn-bg: #68702A;


  /* =====================
     SKIN SOMBRA
     ===================== */

  --sombra-bg-principal: #211B19;
  --sombra-bg-leitor: #352A26;

  --sombra-texto-principal: #E8DCC7;
  --sombra-texto-destaque: #C79A4A;

  --sombra-btn-bg: #70452B;


}


body{
    background-color: var(--bg-principal);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: var(--texto-principal);
    margin-top: 50px;
}

h2{
    color: var(--texto-secundario)
}

.container{
    background-color: var(--bg-secundario);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    width: 90vh;
    height: 50vh;
    margin-top: 50px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);

}

.botoes{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mestre, .jogador{
    transition: 0.3s;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 15px;
    border: none;
    height: 50px;
    width: 200px;
    background-color: var(--btn-bg);

}

.mestre:hover, .jogador:hover{
    transition: 0.3s;
    transform:  translateY(-3px)

}